/* место для вашего кода */
html {
    scroll-behavior: smooth;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
   
    width: 1100px;
    height: 293px;
}


.header__links-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26px;

    margin-left: 50px;

    width: 391.48px;
    height: 22px;

    list-style: circle;

    text-decoration-skip-ink: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.header__links-list-item {
    font-weight: 400;
    font-size: 18px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    width: 148px;
    height: 105px;
}

.header__address {
    max-width: 240px;
    height: 98px;

    justify-self: end;

    list-style: none;
    
    font-weight: 400;
    font-size: 18px;
    font-style: normal;

    text-decoration-skip-ink: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}


.cover {
    width: 1100px;
    min-height: 757px;

    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;

    background-color:rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.img-cover {
    position: absolute;
    height: 100%;

    z-index: 0;
}

.cover__title {
    position: absolute;
    top: 165px;
    left: 50px;
    z-index: 2;
    
    width: 1000px;
    height: 385px;
    
    font-size: 100px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    letter-spacing: 30%;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    z-index: 2;
    left: 50px;
    top: 656px;

    width: 1000px;
    height: 51px;

    font-size: 22px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.cover__description-text {
    word-spacing: 90%;
}

.bet-button {
    width: 256px;
    height: 51px;

    font-size: 22px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;

    background: transparent;
    
   border: 1px solid rgba(255, 255, 255, 1);
}

.lots {
    position: relative;
    margin-top: 180px;

    width: 1052px;
    min-height: 723px;
    margin-left: 24px;
}

.lots__heading {
    margin-left: 40px;
    margin-bottom: 27px;

    font-weight: 700;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    display: block;

    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    padding: 48px 40px;

    background-position: center;
    background-size: cover;
}

.card__title {
    position: relative;
    z-index: 2;

    margin: 0;

    font-weight: 700;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);

    text-transform: uppercase;
    text-decoration: underline solid white;
}

.card__text {
    position: relative;
    z-index: 2;

    margin: 0;

    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}


.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
    display: block;

    margin-left: 40px;
    margin-top: 30px;

    width: 192px;
    height: 23px;

    font-weight: 400;
    font-size: 20px;
    color: black;

    white-space: nowrap;
}


.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    column-gap: 25px;

    width: 1052px;

    margin-top: 120px;
    margin-left: 24px;
}

.first-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 240px;
    height: 240px;
    margin-top: 35px;

    background-color: black;
    border-radius: 50%;
}

.about-logo {
    width: 148px;
    height: 114px;
}

.second-container {
    width: 693px;
}

.about-title {
    font-weight: 700;
    font-size: 40px;
    color: black;
    text-transform: uppercase;

    margin-top: 136px;
    margin-bottom: 100px;
}

.about-description {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 693px;

    font-weight: 400;
    font-size: 20px;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;

    width: 100%;
    height: 180px;
    margin-top: 180px;
}

.footer-address-list {
    width: 264.57px;
    height: 98px;

    list-style: none;

    margin-left: 50px;

    text-decoration-skip-ink: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;

    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}

.footer-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    justify-self: center;

    width: 163.9px;
    height: 64px;

    list-style: none;

    text-decoration-skip-ink: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;

    font-weight: 400;
    font-size: 18px;
}

.icons {
    display: flex;
    justify-content: space-between;

    width: 240px;
    height: 48px;

    margin-left: 50px;
}

.icons-item {
    width: 48px;
    height: 48px;
}
